<% provide(:title, @user.name) %>
<div class="row">
    <aside class="span3">
        <section>
            <h1><%= gravatar_for @user %>&nbsp</h1>
            <h2>Messages</h2>
            <ul>
                <li>(5) New</li>
                <li>(6) Unread</li>
                <li>(5) Trash</li>
            </ul>
            <h2>Settings</h2>

        </section>
    </aside>
    <aside class="span7">
        <section>
            <h1><%= @user.name %></h1>
            <h2>Recent Activities</h2>
            <% if @user.microposts.any? %>
                <h3>Microposts (<%= @user.microposts.count %>)</h3>
                <ol class="microposts">
                    <li>Item 1</li>
                    <li>Item 2</li>
                    <li>Item 3</li>
                    <%= render @microposts %>
                </ol>
                <%= will_paginate @microposts %>
            <% end %>
        </section>
    </aside>
    <aside class="span3">
        <section>
            <h1> &nbsp</h1>

            <h2>Check-ins</h2>
        </section>
    </aside>

</div>


