<% provide(:title, 'Profile') %>
<div class="row">
    <aside class="span3">
        <section>
            <%= gravatar_for @user, size: 260  %>

            <h1 class="mobile"><br /><%= @user.name %></h1>
            <p>member since  <%= @user.created_at.strftime("%b %Y") %></p>

            <%= render 'shared/stats' %>
            <h2 class="nonMobile"><%= link_to "Settings", edit_user_path(current_user ) if current_user?(@user) %></h2>


        </section>

    </aside>
    <aside class="span7">
        <section>
            <h1 class="nonMobile"><%= @user.name %></h1>
            <% if signed_in? %>
                <div id="postForm" style="display:none;" class="row">
                    <aside class="span4">
                        <section >
                            <%= render 'shared/micropost_form' %>
                        </section>
                    </aside>
                </div>
            <% end %>
            <h2><% if (signed_in? && current_user?(@user)) %><span id="addLink" >add new</span><% end %> Recent Activity (<%= @user.microposts.count %>)</h2>
            <% if @user.microposts.any? %>
                <ol class="microposts">
                    <%= render @microposts %>
                </ol>
                <%= will_paginate @microposts %>
            <% end %>
        </section>
    </aside>
    <aside class="span3">
        <section>
            <h1> &nbsp</h1>
            <%= render 'follow_form' if signed_in? %>
        </section>
    </aside>
<script>
    var addButton = document.getElementById('addLink' ||'closeBtn'),
        toggle = false;
        addButton.onclick = function(){

        if( toggle === true)  {
            $('#postForm').hide();
            toggle = false;
        }  else {
            $('#postForm').show();
            toggle = true;
        }
    }

</script>
</div>
